html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}


@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url(../fonts/MullerBold.woff2) format("woff2"),
    url(../fonts/MullerBold.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
    url(../fonts/MullerLight.woff2) format("woff2"),
    url(../fonts/MullerLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url(../fonts/MullerMedium.woff2) format("woff2"),
    url(../fonts/MullerMedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url(../fonts/MullerRegular.woff2) format("woff2"),
    url(../fonts/MullerRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 3 version
*/

:root{
  --black: #121723;
  --grey:#292E39;
  --light-grey: #A1A6B4;
  --light:#D2D5DD;
  --white: #fff;
  --almost-white:#E6E8EC;
  --yellow: #F0D288;
  --blue: #4F28A5;
  --violet:#6D31EE;
  --lilac: #AA9DFA;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1920px;
  padding: 0 405px;
  margin: 0 auto;
}

.header {
  padding: 31px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  margin-right: auto;
}

.header__link {
  white-space: nowrap;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 53px;
}

.header__navigation {
  margin-right: 207px;
}

.color {
  color: var(--black);
}

 .header__link{
  border: 1px solid transparent;
  padding: 2px;
  -webkit-transition: color 0.7s ease-in-out,
              background-color 0.7s ease-in-out;
  -o-transition: color 0.7s ease-in-out,
              background-color 0.7s ease-in-out;
  transition: color 0.7s ease-in-out,
              background-color 0.7s ease-in-out;
}

.header__link:hover{
  color: var(--violet);
}

.header__link:focus{
  background-color: var(--lilac);
  color: var(--white);
}

.header__link:active{
  color: var(--blue);
}

.header__btn-path{
  stroke: var(--violet);
  -webkit-transition: stroke 0.7s ease-in-out;
  -o-transition: stroke 0.7s ease-in-out;
  transition: stroke 0.7s ease-in-out;
}

.header__btn:hover .header__btn-path{
  stroke: var(--lilac);
}

.header__btn:focus .header__btn-path{
  stroke: var(--lilac);
}

.header__btn:active .header__btn-path{
  stroke: var(--blue);
}

.btn{
  cursor: pointer;
}

.desk {
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
  cursor: pointer;
}

.header__btn {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio__size {
  max-width: 635px;
  padding: 67px 0;
}

.radio__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.radio__title {
  /* display: inline; */
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  margin-right: 16px;
}

.radio__title-2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}

.radio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 70px;
}

.radio__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 25px 54px;
  border-radius: 40px;
  color: var(--white);
  border: 1px solid transparent;
  background-color: var(--violet);
  -webkit-transition: background-color 0.7s ease-in-out,
              border .7s ease-in-out;
  -o-transition: background-color 0.7s ease-in-out,
              border .7s ease-in-out;
  transition: background-color 0.7s ease-in-out,
              border .7s ease-in-out;
}

.radio__link:hover{
  background-color: var(--lilac);
}

.radio__link:focus{
  border: 1px solid var(--blue);
  background-color: var(--lilac);
}

.radio__link:active{
  background-color:var(--blue);
}

.radio {
  padding: 24px 0 35px 0;
}

.radio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.podcasts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.podcasts {
  padding: 95px 0;
  background-color: var(--light);
}

.podcasts__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 540px;
  /* padding: 40px 0; */
  background-color: var(--white);
}

.podcasts-img-item-1::before {
  content: "";
  display: inline-block;
  width: 112px;
  height: 100%;
  background-image: url(../img/podcasts-img-1.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 40px; */
}

.podcasts-img-item-2::before {
  content: "";
  display: inline-block;
  width: 112px;
  height: 100%;
  background-image: url(../img/podcasts-img-2.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 40px; */
}

.podcasts-img-item-3::before {
  content: "";
  display: inline-block;
  width: 112px;
  height: 100%;
  background-image: url(../img/podcasts-img-3.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 40px; */
}

.podcasts-img-item-4::before {
  content: "";
  display: inline-block;
  width: 112px;
  height: 100%;
  background-image: url(../img/podcasts-img-4.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 40px; */
}

.podcasts-img-item-5::before {
  content: "";
  display: inline-block;
  width: 112px;
  height: 100%;
  background-image: url(../img/podcasts-img-5.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 40px; */
}

.podcasts-img-item-6::before {
  content: "";
  display: inline-block;
  width: 112px;
  height: 100%;
  background-image: url(../img/podcasts-img-6.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 40px; */
}

.podcasts-img-item-7::before {
  content: "";
  display: inline-block;
  width: 112px;
  height: 100%;
  background-image: url(../img/podcasts-img-7.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 40px; */
}

.podcasts-img-item-8::before {
  content: "";
  display: inline-block;
  width: 112px;
  height: 100%;
  background-image: url(../img/podcasts-img-8.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 40px; */
}

.podcasts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40.6px 0 39px 30px;
}

.podcasts__time {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 10px;
}

.podcasts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-grey);
}

.podcasts__date {
  position: absolute;
  bottom: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  background-color: var(--almost-white);
  padding: 2px 9px;
}

.podcasts__title-thee {
  margin: 0;
  margin-bottom: 5px;
}

.title-two {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
}

.podcasts__title-two {
  margin-bottom: 29px;
}

.transfers {
  padding: 96px 0 93px 0;
}

/* .transfers__conent{
  display: flex;
  padding: 12px 0 0 56px;
} */

.transfers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 12px 0 0 56px;
}

.transfers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 255px;
  margin-bottom: -2px;
}

.transfers__card-content {
  padding: 19px 0 20px 17px;
  border: 1px solid var(--almost-white);
}

.title-thee {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

.transfers__title-thee {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 2px;
}

.transfers__text {
  display: block;
  /* font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4; */
  margin-bottom: 20px;
}

.text-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--light-grey);
}

.transfers__link:focus .transfers__svg{
  bottom: 4px;
}

.transfers__link {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  -webkit-transition: color .7s ease-in-out,
              background-color 0.7s ease-in-out;
  -o-transition: color .7s ease-in-out,
              background-color 0.7s ease-in-out;
  transition: color .7s ease-in-out,
              background-color 0.7s ease-in-out;
}

.transfers__path{
  fill: var(--black);
  -webkit-transition: fill .7s ease-in-out;
  -o-transition: fill .7s ease-in-out;
  transition: fill .7s ease-in-out;
}

.transfers__link:hover{
  color: var(--violet);
}

.transfers__link:focus{
  background-color: var(--lilac);
  padding: 2px 29px 2px 2px;
  color: var(--white);
}

.transfers__link:active{
  color: var(--blue);
  background-color: transparent;
}

.transfers__link:hover .transfers__path{
  fill: var(--violet);
}

.transfers__link:focus .transfers__path{
  fill: var(--white);
}

.transfers__link:active .transfers__path{
  fill: var(--blue);
}

.transfers__img-1::before {
  content: "";
  display: inline-block;
  width: 255px;
  height: 150px;
  background-image: url(../img/transfers-1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.transfers__img-2::before {
  content: "";
  display: inline-block;
  width: 255px;
  height: 150px;
  background-image: url(../img/transfers-2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.transfers__img-3::before {
  content: "";
  display: inline-block;
  width: 255px;
  height: 150px;
  background-image: url(../img/transfers-3.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.transfers__img-4::before {
  content: "";
  display: inline-block;
  width: 255px;
  height: 150px;
  background-image: url(../img/transfers-4.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.transfers__img-5::before {
  content: "";
  display: inline-block;
  width: 255px;
  height: 150px;
  background-image: url(../img/transfers-5.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.transfers__img-6::before {
  content: "";
  display: inline-block;
  width: 255px;
  height: 150px;
  background-image: url(../img/transfers-6.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.transfers__keep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.transfers__supplement {
  position: absolute;
  bottom: 0;
  left: 0;
}

.transfers__supplement::before {
  content: "";
  display: block;
  width: 65px;
  height: 89px;
  background-image: url(../img/supplement-microphone.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
}

.transfers__supplement-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid var(--black);
  padding: 10px 55px;
  margin-bottom: 12px;
  border-radius: 20px;
  -webkit-transition: color .7s ease-in-out,
              background-color .7s ease-in-out,
              border .7s ease-in-out;
  -o-transition: color .7s ease-in-out,
              background-color .7s ease-in-out,
              border .7s ease-in-out;
  transition: color .7s ease-in-out,
              background-color .7s ease-in-out,
              border .7s ease-in-out;
}

.transfers__supplement-link:hover{
  background-color: var(--violet);
  border: 2px solid var(--violet);
  color: var(--white);
}

.transfers__supplement-link:focus{
  background-color: var(--lilac);
  border: 2px solid var(--lilac);
  color: var(--white);
}

.transfers__supplement-link:active{
  background-color: var(--blue);
  border: none;
  color: var(--white);
}

.transfers__supplement-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-grey);
  max-width: 255px;
  margin: 0;
}

.transfers__supplement-img {
  display: block;
  width: 65px;
  height: 89px;
  margin-bottom: 25px;
}

.transfers__svg {
  position: absolute;
  bottom: 2px;
}

.guests {
  background-color: var(--black);
  padding: 96px 0 88px 0;
}

.guests__title {
  color: var(--white);
  margin-bottom: 10px;
}

.guests__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--light-grey);
  margin: 0;
  margin-bottom: 10px;
}

.guests__text-down {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--light-grey);
  max-width: 825px;
  margin: 0;
  margin-bottom: 49px;
}

.guests__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
}

.guests__item:last-child {
  margin-bottom: 0;
}

.guests__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 272px;
}

.guests__link {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--lilac);
  border: 2px solid var(--lilac);
  border-radius: 77px;
  padding: 10px 18px;
  -webkit-transition: color .7s ease-in-out,
              background-color .7s ease-in-out,
              border .7s ease-in-out;
  -o-transition: color .7s ease-in-out,
              background-color .7s ease-in-out,
              border .7s ease-in-out;
  transition: color .7s ease-in-out,
              background-color .7s ease-in-out,
              border .7s ease-in-out;
}

.guests__link:hover{
  color: var(--white);
  background-color: var(--lilac);
}

.guests__link:focus{
  background-color: var(--violet);
  color: var(--white);
  border: 1px solid var(--violet);
}

.guests__link:active{
  background-color: var(--blue);
  color: var(--white);
  border: none;
}

.guests__title-thee {
  color: var(--white);
  margin-bottom: 9px;
}

.guests__text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  max-width: 458px;
  color: var(--light-grey);
  margin: 0;
}

.guests__img {
  margin-right: 30px;
}

.playlists {
  /* display: flex;
  justify-content: space-between; */
  padding: 95px 0;
}

.playlists__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playlists__title {
  margin-bottom: 12px;
}

.playlists__text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-grey);
  min-width: 350px;
  margin: 0;
  /* margin-bottom: 5px; */
}

.playlists__data {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-grey);
  margin: 0;
  margin-bottom: 11px;
}

.playlists__restriction {
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  color: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 50%;
  padding: 4px;
}

.playlists__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 13px 0 0 0;
  gap: 30px;
}

.playlists__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* margin-right: 29px; */
  /* margin-bottom: 29px; */
}

/* .playlists__item:nth-child(4n){
  margin-right: 0;
} */


.playlists__content-list {
  padding: 14px 0px 12px 16px;
  border: 1px solid var(--almost-white);
}

.playlists__title-thee {
  display: block;
  font-size: 16px;
  margin-bottom: -3px;
}

.playlists__content {
  margin-right: 30px;
  /* max-width: 350px; */
}

.playlists__img {
  margin-bottom: -5px;
}

.playlists__item-rus::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 20px;
  top: 0;
  right: 0;
  background-image: url(../img/rus.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.playlists__item-us::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 20px;
  top: 0;
  right: 0;
  background-image: url(../img/us.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sales {
  background-color: var(--grey);
  padding: 96px 0 133px 0;
}

.sales__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sales__img-content {
  position: relative;
}

.sales__img-content::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-image: url(../img/new.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sales__img {
  margin-right: 20px;
}

.sales__title-two {
  color: var(--yellow);
  margin-bottom: 18px;
}

.sales__wave::before {
  content: "";
  /* position: absolute; */
  display: inline-block;
  /* top: 0;
  left: 0; */
  width: 450px;
  height: 12px;
  background-image: url(../img/wale.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 12px;
}

.sales__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  color: var(--white);
  margin: 0;
}

.desk-top {
  margin-bottom: 13px;
}

.desk-bottom {
  margin-bottom: 31px;
}

.sales__many {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: var(--white);
  margin-bottom: 31px;
}

.sales__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* display: inline-block; */
  color: var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 100px;
  padding: 22px 8px;
  max-width: 300px;
  -webkit-transition: background-color 0.7s ease-in-out,
              border 0.7s ease-in-out,
              color 0.7s ease-in-out;
  -o-transition: background-color 0.7s ease-in-out,
              border 0.7s ease-in-out,
              color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out,
              border 0.7s ease-in-out,
              color 0.7s ease-in-out;
}

.sales__link:hover{
  background-color: var(--yellow);
  color: var(--black);
}

.sales__link:focus{
  background-color:#BB973E;
  border: 2px solid var(--yellow);
  color: var(--black);
}

.sales__link:active{
  background-color: #BB973E;
  border: none;
}

.sales__path{
  fill: var(--yellow);
  -webkit-transition: fill 0.7s ease-in-out;
  -o-transition: fill 0.7s ease-in-out;
  transition: fill 0.7s ease-in-out;
}

.sales__path-bottom{
  fill: var(--black);
  -webkit-transition: fill 0.7s ease-in-out;
  -o-transition: fill 0.7s ease-in-out;
  transition: fill 0.7s ease-in-out;
}

.sales__link:hover .sales__path{
  fill: var(--black);
}

.sales__link:hover .sales__path-bottom{
  fill: var(--yellow);
}

.sales__link:focus .sales__path{
  fill: var(--yellow);
}

.sales__link:focus .sales__path-bottom{
  fill: var(--black);
}

.sales__link:active .sales__path{
  fill: var(--black);
}

.sales__link:active .sales__path-bottom{
  fill: #BB973E;
}

.sales__svg {
  margin-right: 10px;
}

.sales__contant {
  max-width: 445px;
}

.about-us {
  background-color: var(--black);
  padding: 96px 0 92px 0;
}

.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.about-us__content::after {
  content: "";
  display: inline-block;
  width: 445px;
  height: 290px;
  background-image: url(../img/spiral-snowflake.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us__size {
  max-width: 634px;
  margin-right: 30px;
}

.about-us__title-two {
  color: var(--white);
  margin-bottom: 12px;
}

.about-us__span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--light-grey);
  margin-bottom: 8px;
}

.about-us__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--light-grey);
  margin: 0;
}

.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.about-us__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 17px;
}

.about-us__img {
  margin-bottom: -5px;
}

.about-us__contnt-list {
  padding: 29px 0px 0px 0px;
}

.about-us__item:last-child {
  margin-right: 0;
}

.about-us__title-thee {
  color: var(--white);
  margin-bottom: 10px;
}

.about-us__text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-grey);
  margin: 0;
}

.about-us__picture {
  margin: 0;
  padding: 0;
}

.form {
  max-width: 920px;
}

.text-form {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  background-color: transparent;
  border: 1px solid var(--white);
  cursor: pointer;
  -webkit-transition: border 0.7s ease-in-out,
              background-color .7s ease-in-out;
  -o-transition: border 0.7s ease-in-out,
              background-color .7s ease-in-out;
  transition: border 0.7s ease-in-out,
              background-color .7s ease-in-out;
}

.text-form:hover{
  background-color: var(--grey);
}

.text-form:focus{
  border: 1px solid var(--lilac);
  background-color: var(--grey);
}

.text-form:active{
  border: 1px solid var(--white);
  background-color: transparent;
}

.form__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 148px;
  padding: 28px 31px;
  border-radius: 30px;
  margin-bottom: 31px;
  overflow: hidden;
  resize: none;
}

.form__text {
  width: 445px;
  height: 70px;
  border-radius: 40px;
  padding: 10px 10px 10px 32px;
  /* margin-right: 10px; */
}

/* .form__text:last-child{
  margin-right: 0;
} */

/* .form__text:invalid{
  border: 1px solid #D52B1E;
} */


.form__text-top {
  margin-right: 26px;
  margin-bottom: 29px;
}

.form__btn {
  display: block;
  color: var(--white);
  padding: 25px 54px;
  background-color: var(--violet);
  border: none;
  border-radius: 40px;
  margin-bottom: 29px;
  cursor: pointer;
  -webkit-transition: background-color .7s ease-in-out,
              border .7s ease-in-out;
  -o-transition: background-color .7s ease-in-out,
              border .7s ease-in-out;
  transition: background-color .7s ease-in-out,
              border .7s ease-in-out;
}

.form__btn:hover{
  background-color:var(--lilac);
}

.form__btn:focus{
  background-color: var(--lilac);
  border: 1px solid var(--blue);
}

.form__btn:active{
  background-color:  var(--blue);
  border: none;
}

.form__label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.form__chekbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.form__spam {
  position: relative;
  padding-left: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.3px;
  word-spacing: -4px;
  color: var(--white);
}

.form__spam::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid var(--white);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__spam::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url(../img/mark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.form__chekbox:checked+.form__spam::after {
  opacity: 1;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__path{
  fill:var(--light);
  -webkit-transition: fill .7s ease-in-out;
  -o-transition: fill .7s ease-in-out;
  transition: fill .7s ease-in-out;
}

.footer__link-icon:hover .footer__path{
  fill: var(--violet);
}

.footer__link-icon:focus .footer__path{
  fill: var(--lilac);
}

.footer__link-icon:active .footer__path{
  fill: var(--blue);
}

.footer {
  /* position: relative; */
  padding: 92px 0 11px 0;
  background-color: var(--grey);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
}

.footer__navigation {
  max-width: 445px;
}

.footer__list-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* gap: 30px; */
}

.footer__item-navigation {
  width: 45px;
  margin-right: 144px;
  margin-bottom: 18px;
}

.footer__link-navigation{
  -webkit-transition: background-color .7s ease-in-out,
              color .7s ease-in-out;
  -o-transition: background-color .7s ease-in-out,
              color .7s ease-in-out;
  transition: background-color .7s ease-in-out,
              color .7s ease-in-out;
}

.footer__link-navigation:hover{
  color: var(--violet);
}

.footer__link-navigation:focus{
  color: var(--white);
  background-color: var(--lilac);
}

.footer__link-navigation:active{
  color: var(--blue);
  background-color: transparent;
}

.footer__item-navigation:nth-child(3n) {
  margin-right: 0;
}

.footer__item-navigation:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__middle {
  padding-bottom: 90px;
}

.footer__link-logo {
  margin-bottom: 16px;
}

.footer__link-navigation {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  padding: 2px;
  white-space: nowrap;
}

.footer__down {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 22px;
}

.footer__down::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  width: 100%;
  height: 12px;
  background-image: url(../img/Vector.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.footer__down-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16.53px;
  color: var(--light-grey);
}

.header__bottom {
  display: none;
}

.transfers__supplement-bottom {
  display: none;
}

.sales__img {
  margin-right: 0;
}

.footer__icon-top{
  display: none;
}

.footer__navigation-replacement{
  display: none;
}

@media(max-width:1919px) {

  .container {
    padding: 0 300px;
  }

  .podcasts__item {
    width: 445px;
  }

  .header__navigation {
    display: none;
  }

  .header__bottom {
    display: block;
    padding-top: 20px;
  }

  .header__bottom::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--almost-white);
  }

  .header__bottom::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--almost-white);
  }

  .header__content-bottom {
    padding: 20px 0;
  }

  .header__list {
    gap: 105px;
  }

  .about-us__content::after {
    content: "";
    display: inline-block;
    width: 303px;
    height: 267px;
    background-image: url(../img/snowflake.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media(max-width:1700px) {
  .container {
    padding: 0 100px;
    max-width: 1024px;
  }

  .podcasts__item {
    width: 397px;
  }

  .header {
    padding: 28px 0;
  }

  .header__list {
    gap: 98px;
  }

  .header__img {
    margin-right: 0;
  }

  .header__bottom {
    padding-top: 9px;
  }

  .header__content-bottom {
    padding: 18px 0 7px 0;
  }

  .radio__size {
    max-width: 549px;
    padding: 11px 0 10px 0;
  }

  .radio {
    padding: 49px 0 84px 0;
  }

  .radio__text {
    margin-bottom: 44px;
  }

  .transfers__card-content {
    padding: 19px 0 19px 16px;
  }

  .transfers {
    padding: 96px 0 95px 0;
  }

  .guests__text-down {
    max-width: 564px;
  }

  .guests__text {
    margin-bottom: 9px;
  }

  .guests__text-down {
    margin-bottom: 48px;
  }

  .guests__img {
    margin-right: 73px;
  }

  .guests__text-list {
    max-width: 392px;
  }

  .guests__item {
    margin-bottom: 45px;
  }

  .playlists__container {
    display: block;
  }

  .playlists__content {
    margin-right: 0;
    margin-bottom: 35px;
  }

  .playlists__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .playlists__item-rus::before {
    width: 25px;
    left: 0;
  }

  .playlists__item-us::before {
    width: 25px;
    left: 0;
  }

  .playlists__content-list {
    width: 142px;
    padding: 38px 0px 0px 10px;
  }

  .playlists__list {
    padding: 0;
  }

  .playlists__title-thee {
    margin-bottom: -3px;
  }

  .playlists {
    padding: 95px 0 92px 0;
  }

  .sales__img-content::before {
    top: 115px;
    width: 100px;
    height: 101px;
    background-image: url(../img/new-1024.png);
  }

  .sales__contant {
    max-width: 397px;
  }

  .sales__wave::before {
    width: 386px;
  }

  .sales__img {
    margin-right: 0px;
    padding-bottom: 35px;
  }

  .sales__img-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sales__many {
    margin-bottom: 29px;
  }

  .sales__link {
    padding: 23px 8px;
  }

  .sales {
    padding: 96px 0 95px 0;
  }

  .about-us__size {
    max-width: 541px;
  }

  .about-us__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-us__content::after {
    width: 257px;
    height: 252px;
  }

  .about-us__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about-us__item {
    margin-right: 30px;
    margin-bottom: 28px;
  }

  .about-us__item:nth-child(2n) {
    margin-right: 0;
  }

  .about-us__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .form__text {
    width: 397px;
  }

  .about-us__title-thee {
    margin-bottom: 9px;
  }

  .footer {
    padding: 94px 0 7px 0;
  }

  .form__btn {
    margin-bottom: 31px;
  }

  .footer__down::before {
    height: 19px;
    background-image: url(../img/wale-1024.png);
  }

}

@media(max-width: 1023px) {

  .container {
    max-width: 768px;
    padding: 0 113px;
  }

  .header__list {
    gap: 48px;
  }

  .header__content-bottom {
    padding: 15px 0 7px 0;
  }

  .desk {
    font-size: 16px;
  }

  .radio {
    padding: 49px 0 104px 0;
  }

  .podcasts__title-thee {
    font-size: 20px;
  }

  .radio__right {
    display: none;
  }

  .podcasts__item {
    width: 100%;
  }

  .transfers__keep {
    display: block;
    margin-bottom: 59px;
  }

  .transfers__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }

  .transfers__keep {
    position: static;
    margin-bottom: 60px;
  }

  .transfers__supplement {
    display: none;
  }

  .transfers__supplement-bottom {
    display: block;
    /* justify-content: center; */
  }

  .transfers__supplement-bottom::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--almost-white);
    margin-bottom: 23px;
  }


  .transfers__supplement-text {
    line-height: 23px;
  }

  .transfers__supplement-content-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .transfers__containet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .transfers__supplement-bottom-img {
    margin-right: 21px;
  }

  .transfers__supplement-bottom-img::before {
    content: "";
    display: inline-block;
    width: 72px;
    height: 96px;
    background-image: url(../img/supplement-microphone.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .transfers__card-content {
    padding: 20px 0 19px 16px;
  }

  .transfers__supplement-link {
    max-width: 160px;
    margin-bottom: 10px;
  }

  .transfers__title-two {
    margin-bottom: 123px;
  }

  .transfers {
    padding: 94px 0 26px 0;
  }

  .playlists__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .guests__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }

  .guests__img {
    margin-right: 0px;
    margin-bottom: 23px;
  }

  .guests__text-list {
    max-width: 362px;
  }

  .guests__content {
    height: 274px;
  }

  .guests__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .guests {
    padding: 96px 0 93px 0;
  }

  .playlists {
    padding: 95px 0 109px 0;
  }

  .sales {
    padding: 53px 0 95px 0;
  }

  .sales__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sales__contant {
    max-width: 541px;
  }

  .sales__title-two {
    max-width: 450px;
  }

  .sales__wave::before {
    width: 100%;
    height: 12px;
    background-image: url(../img/male-radio.png);
  }

  .sales__img {
    padding: 0;
  }

  .sales__img-content {
    margin-bottom: 46px;
  }

  .sales__img-content::before {
    top: 0px;
    width: 160px;
    height: 160px;
    background-image: url(../img/new-1024.png);
  }

  .about-us__size {
    margin-right: 0;
  }

  .about-us__content::after {
    display: none;
  }

  .about-us__content__top::after {
    content: "";
    display: inline-block;
    height: 112px;
    width: 653px;
    background-image: url(../img/spiral-snowflake-1023.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about-us__content__top {
    margin-bottom: 25px;
  }

  .about-us__contnt-list {
    padding: 29px 0px 0px 0px;
  }

  .about-us__item {
    margin-bottom: 29px;
  }

  .about-us__contnt-list {
    max-width: 255px;
  }

  .about-us__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .form__text-top {
    margin-right: 0;
    margin-bottom: 0;
  }

  .form__text {
    margin-bottom: 30px;
    width: 100%;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__icon {
    margin-bottom: 72px;
  }

  .form__btn {
    margin-bottom: 29px;
  }

  .footer__svg {
    width: 33px;
    height: 38px;
  }

  .footer__link-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 19px;
  }

  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }

  .footer__navigation {
    max-width: 100%;
  }

  .footer__item-navigation {
    width: 45px;
    margin-right: 190px;
    margin-bottom: 28px;
  }

  .footer__middle {
    padding-bottom: 77px;
  }

  .footer__down::before {
    background-image: url(../img/wale-footer.png);
  }

}

@media(max-width: 767px) {


  .header__list {
    gap: 43px;
  }

  .header__navigation-botom {
      max-width: 435px;
      overflow: scroll;
  }

  .radio__title-2,
  .radio__title{
    font-size: 42px;
    line-height: 32px;
  }

   .transfers__card-content {
    position: relative;
    min-height: 100px;
  }

  .transfers__link {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
  }

  .transfers__text{
    margin-bottom: 0;
  }

  .radio__text{
    font-size: 14px;
    line-height: 21px;
  }

  .radio__link{
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .podcasts-img-item-1::before{
    width: 100%;
    height: 72px;
    background-image: url(../img/podcasts-1-320.png);
    background-position: top;
  }

  .podcasts-img-item-2::before{
    width: 100%;
    height: 72px;
    background-image: url(../img/podcasts-2-320.png);
    background-position: top;
  }

  .podcasts-img-item-3::before{
    width: 100%;
    height: 72px;
    background-image: url(../img/podcasts-3-320.png);
    background-position: top;
  }

  .podcasts-img-item-4::before{
    width: 100%;
    height: 72px;
    background-image: url(../img/podcasts-4-320.png);
    background-position: top;
  }

  .podcasts-img-item-5::before{
    width: 100%;
    height: 72px;
    background-image: url(../img/podcasts-5-320.png);
    background-position: top;
  }

  .podcasts-img-item-6::before{
    width: 100%;
    height: 72px;
    background-image: url(../img/podcasts-6-320.png);
    background-position: top;
  }

  .podcasts-img-item-7::before{
    width: 100%;
    height: 72px;
    background-image: url(../img/podcasts-7-320.png);
    background-position: top;
  }

  .podcasts-img-item-8::before{
    width: 100%;
    height: 72px;
    background-image: url(../img/podcasts-8-320.png);
    background-position: top;
  }

  .podcasts__date{
    top: 0;
    bottom: auto;
  }

  .transfers__img-1::before {
    width: 100%;
    height: 50px;
    background-image: url(../img/transfers-1-570.png);
  }

  .transfers__img-2::before {
    width: 100%;
    height: 50px;
    background-image: url(../img/transfers-2-570.png);
  }

  .transfers__img-3::before {
    width: 100%;
    height: 50px;
    background-image: url(../img/transfers-3-570.png);
  }

  .transfers__img-4::before {
    width: 100%;
    height: 50px;
    background-image: url(../img/transfers-4-570.png);
  }

  .transfers__img-5::before {
    width: 100%;
    height: 50px;
    background-image: url(../img/transfers-5-570.png);
  }

  .transfers__img-6::before {
    width: 100%;
    height: 50px;
    background-image: url(../img/transfers-6-570.png);
  }

  .transfers__title-two {
    margin-bottom: 39px;
}

.title-two{
  font-size: 40px;
}

  .guests__content {
    height: 300px;
}

.playlists__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.playlists__title-thee {
  font-size: 13px;
}

.text-span {
  font-size: 9px;
}

.playlists__content-list {
  width: 113px;
  padding: 9px 0px 0px 10px;
}

.sales__img-content::before {
  width: 100px;
  height: 100px;
}

.about-us__content__top::after {
  display: none;
}

.about-us__contnt-list {
  max-width: 129px;
}

.title-thee {
  font-size: 12px;
}

.about-us__text-list {
  font-size: 13px;
}

.footer__item-navigation {
  margin-right: 89px;
}

.transfers__item {
  width: 133px;
}

.transfers__link {
  font-size: 10px;
}

.footer__item-navigation {
  margin-right: 94px;
}

.footer__navigation {
  max-width: 445px;
}

.footer__list-navigation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link{
  white-space: nowrap;
}

}

@media(max-width: 550px){

  .container {
    max-width: 320px;
    padding: 0px 31px;
}

.header__navigation-botom {
  max-width: 270px;
  overflow: scroll;
  overflow-y: hidden;
  height: 18.4px;
}

.header {
    padding: 14px 0;
}

.header__content-bottom {
  padding: 8px 0 2px 0;
  height: 27.4px;
}

.desk {
  font-size: 16px;
  line-height: 16px;
}

.header__list {
  gap: 20px;
}

/* .text-span {
  font-size: 8px;
} */

.header__bottom {
  padding-top: 0px;
}

.radio {
  padding: 12px 0 45px 0;
}

.radio__title-2,
.radio__title {
  font-size: 32px;
  line-height: 32px;
}

.radio__title{
  margin-right: 10px;
}

.radio__title-block {
  margin-bottom: 7px;
}

.radio__text {
  margin-bottom: 36px;
}

.radio__link {
  padding: 17px 46px;
}

.podcasts {
  padding: 55px 0;
}

.title-two {
  font-size: 24px;
  line-height: 24px;
}

.podcasts__title-two {
  margin-bottom: 20px;
}

.podcasts__content {
  padding: 29px 0 31px 17px;
}

.podcasts__time {
  margin-bottom: 8px;
}

.podcasts__text {
  font-size: 12px;
  line-height: 12px;
}

.podcasts__title-thee {
  margin-bottom: 4px;
}

.podcasts__list {
  gap: 31px;
}

.transfers {
  padding: 55px 0 48px 0;
}

.transfers__title-two{
  font-size: 24.4px;
  margin-bottom: 28px;
}

.playlists__content-list {
  width: 114px;
}

.transfers__item {
  width: 112px;
}

.transfers__card-content {
  /* position: relative; */
  padding: 9px 0 7px 8px;
  /* min-height: 100px; */
}

.title-thee {
  font-size: 13px;
  line-height: 13px;
}

.transfers__title-thee {
  margin-bottom: 4px;
}

/* .transfers__link {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
} */

.transfers__list {
  gap: 31px;
}

.text-span {
  line-height: 9px;
}

.transfers__text{
  max-width: 97px;
}

.transfers__supplement-bottom-img{
  display: none;
}

.transfers__supplement-bottom::after{
  content: "";
  display: inline-block;
  width: 77px;
  height: 106px;
  background-image: url(../img/mic-550.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.transfers__supplement-content-bottom {
  position: absolute;
  left: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.transfers__supplement-bottom {
  position: relative;
  padding: 0 10px;
}

.transfers__keep {
  margin-bottom: 31px;
}

.transfers__supplement-text {
  line-height: 22px;
  max-width: 160px;
  font-size: 14px;
  margin-bottom: 6px;
}

.transfers__supplement-link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 53px;
  max-width: 100px;
}

.guests {
  padding: 56px 0 55px 0;
}

.guests__title {
  margin-bottom: 11px;
}

.guests__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}

.guests__text-down {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
}

.guests__title-thee{
  font-size: 20px;
  line-height: 20px;
}

.guests__img {
  margin-bottom: 7px;
}

.guests__content {
  min-height: 353px;
}

.guests__link {
  padding: 8px 13px;
}

.guests__item {
  margin-bottom: 30px;
}

.playlists {
  padding: 56px 0 53px 0;
}

.playlists__title {
  margin-bottom: 9px;
}

.playlists__text {
  font-size: 12px;
  line-height: 17px;
  min-width: 290px;
}

.playlists__content-list {
  padding: 9px 0px 6px 9px;
}

.playlists__list{
  gap: 0;
}

.playlists__item-rus::before {
  left: auto;
}

.playlists__item-us::before {
  left: auto;
}

.playlists__item{
  margin-right: 30px;
  margin-bottom: 30.5px;
}

.playlists__item:nth-child(2n){
  margin-right: 0;
}

.playlists__item:nth-last-child(-n+2){
  margin-bottom: 0;
}

.sales {
  padding: 55px 0 54px 0;
}

.sales__img-content::before {
  width: 63px;
  height: 63px;
}

.sales__img-content {
  margin-bottom: 30px;
}

.sales__title-two {
  margin-bottom: 10px;
}

.sales__wave::before {
  background-image: url(../img/wale-550.png);
}

.sales__text {
  font-size: 14px;
  line-height: 22px;
  max-width: 250px;
}

.desk-bottom {
  margin-bottom: 11px;
}

.sales__many {
  font-size: 25px;
  line-height: 28px;
  margin-bottom: 17px;
}

.sales__link {
  font-size: 15px;
  line-height: 11px;
  padding: 13px 14px;
}

.about-us {
  padding: 55px 0 53px 0;
}

.about-us__title-two {
  margin-bottom: 10px;
}

.about-us__span {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 3px;
}

.about-us__text {
  font-size: 14px;
  line-height: 22px;
  max-width: 239px;
}

.about-us__content {
  margin-bottom: 30px;
}

.about-us__contnt-list {
  max-width: 109px;
}

.about-us__title-thee {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 4px;
}

.about-us__contnt-list {
  padding: 13px 0px 0px 0px;
}

.about-us__text-list {
  font-size: 11px;
  line-height: 17px;
}

.about-us__item {
  margin-bottom: 28px;
}

.form__textarea {
  padding: 15px 22px;
  border-radius: 19px;
  margin-bottom: 31px;
}

.text-form {
  font-size: 17px;
  line-height: 16px;
}

.form__text {
  height: 50px;
  padding: 10px 10px 10px 23px;
}

.form__btn{
  font-size: 15px;
  padding: 19px 48px;
  margin-bottom: 15px;
}

.form__spam {
  font-size: 9px;
}

.footer__icon{
  display: none;
}

.footer__icon-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--grey);
  padding-bottom: 47px;
}

.footer__middle{
  background-color: var(--black);
  padding: 26px 0 36px 0;
}

.footer {
  max-width: 550px;
  overflow: hidden;
  padding: 54px 0 2px 0;
}

.footer__navigation{
  display: none;
}

.footer__navigation-replacement{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 218px;
}

.footer__list-navigation{
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__item-navigation {
  margin-right: 99px;
  margin-bottom: 18px;
}

.footer__item-navigation:nth-child(3n){
  margin-right: 99px;
}

.footer__item-navigation:nth-child(2n){
  margin-right: 0;
}

.footer__item-navigation:nth-last-child(-n+2){
  margin-bottom: 0;
}

.footer__item-navigation:nth-last-child(3n){
  margin-bottom: 18px;
}

.footer__link-navigation {
  font-size: 12px;
  line-height: 12px;
}

.footer__down::before{
  height: 30px;
  width: 136%;
  background-image: url(../img/wale-footer.png);
}

.footer__down{
  background-color: var(--black);
}

.footer__down{
  padding-top: 16px;
}

.footer__down-text {
  font-size: 12px;
}

}

@media(max-width: 340px){

  .page{
    min-width: 319px;
  }

  .footer{
    max-width: 329px;
  }

  .footer__down::before{
    width: 229%;
  }

}
